name: CCM Integration tests

on:
  push:
    branches:
     - master
     - next*
     - docker-ccm

  pull_request:
    branches:
     - docker-ccm
     - next*

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Cache pip
      uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements-test.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-8-jdk rpm2cpio
        pip install -U pip setuptools

        python setup.py install

        if [ -f requirements-test.txt ]; then pip install -r requirements-test.txt; fi

    - name: Cache binary versions
      uses: actions/cache@v2
      with:
        path: |
          - ~/.ccm/repository
          - ~/.ccm/scylla-repository
        key: ${{ runner.os }}-repos-${{ hashFiles('**/test_config.py') }}

    - name: Download versions
      run: |
        if [ ! -f ~/.ccm/scylla-repository/unstable/master/2020-08-29T22_24_05Z ]; then
          RELOC_VERSION="2020-08-29T22:24:05Z"
          AWS_BASE=s3://downloads.scylladb.com/relocatable/unstable/master/${RELOC_VERSION}

          aws s3 --only-show-errors --no-sign-request cp ${AWS_BASE}/scylla-package.tar.gz .
          aws s3 --only-show-errors --no-sign-request cp ${AWS_BASE}/scylla-tools-package.tar.gz .
          aws s3 --only-show-errors --no-sign-request cp ${AWS_BASE}/scylla-jmx-package.tar.gz .

          ./ccm create temp -n 1 --scylla --version unstable/master:${RELOC_VERSION} \
            --scylla-core-package-uri=./scylla-package.tar.gz \
            --scylla-tools-java-package-uri=./scylla-tools-package.tar.gz \
            --scylla-jmx-package-uri=./scylla-jmx-package.tar.gz
          ./ccm remove
        fi
        ./ccm create temp-cas -n 1 --version 3.11.4 > /dev/null
        ./ccm remove
        docker pull scylladb/scylla-nightly:666.development-0.20201015.8068272b466

    - name: Test with pytest
      run: |
        python -m pytest ./tests
